.my-process-container{
    display: flex;
    flex-direction: row;
}

.process-buttons-container{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.process-button{
    width: 4rem;
    height: 4rem;
    color: #fff;
    background-color: #5D4FFF;

    border-width: 2px 0px 2px 2px;
    border-style: solid;
    border-color: #5D4FFF;
    border-radius: 0.5rem 0rem 0rem 0.5rem;

    display: flex;
    vertical-align: center;
    cursor: pointer;
}
.process-button:hover{
    opacity: 0.9;
}
.process-button svg{
    display: block;
    align-items: center;
    margin: auto;
    fill: #fff;
}

.active{
    color: #5D4FFF;
    background-color: #fff;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    cursor:auto;
}

.active svg{
    fill:#5D4FFF;
}

.active:hover{
    opacity: 1;
}


.process-display-container{
    width: 100%;
    padding: 1.5rem;
    margin-left: -2px;
    z-index: -1;
    border-style: solid;
    border-color: #5D4FFF;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.process-display-container h4{
    color: #5D4FFF;
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.process-display-container p{
    max-width:25rem;
}

.mobile-process-button{
    display: flex;
    flex-direction: column;
    border: 2px solid #5D4FFF;
    border-radius: 0.5rem;
}

.mobile-process-button-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap:1rem;
}

.opened svg{
    fill: #5D4FFF;
}

.mobile-process-button-header h4{
    color: #5D4FFF;
}

.closed{
    background-color: #5D4FFF;
}

.opened .mobile-chevron{
    display: none;
}

.closed svg, .closed h4{
    fill: #fff;
    color: #fff;
}

.closed .mobile-process-content{
    opacity: 0;
    display: none;
}

.mobile-process-content{
    padding: 0rem 1rem 1rem 1rem;
}

.mobile-process-content-opened{
    padding: 0rem 1rem 1rem 1rem;
    animation: openAnimation 0.5s;
}

@keyframes openAnimation {
    from{
        transform: translateY(-1rem);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.mobile-chevron{
    width: 1rem;
    margin-left: auto !important;
}
