.project-header {
  background: rgb(189, 79, 255);
  background: linear-gradient(
    125deg,
    rgba(189, 79, 255, 1) 0%,
    rgba(93, 79, 255, 1) 100%
  );
  padding: 4rem 0rem;
}

.projectHeaderInner {
  max-width: 60rem;
  margin: 0 auto;
}

.project-header .page-heading {
  padding: 0;
  color: #fff;
}

.subHeading {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

/* .process-container {
  display: flex;
  gap: 1rem;
}
.process-container > * {
  flex: 1;
} */
.finalSolutionContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.finalSolutionContainer .process-textSolution{
  font-size: 18px;
}
.finalSolutionContainer .process-image img {
  width: 100%;
  height: 100%;
}

/* ---------- Project Header ---------- */
.headerImage img{
  width: 100%;
  object-fit: contain;
  margin-bottom: 6rem;
}
.projectDetailsContainer{
  display: flex;
  gap: 1.5rem;
}

.projectIntroductionText {
  white-space: pre-line;
  font-size: 1rem;
}

.projectDetails{
  gap:2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 30%;
}

.details h4{
  color: #5d4fff;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

/* ---------- Project Text ---------- */

.process-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 1rem;
}

.processName {
  font-size: 1.5rem;
  color: #5d4fff;
}
.projectSolution {
  color: #fff;
}
.process-text {
  white-space: pre-line;
  vertical-align: bottom;
  font-size: 1.125rem;
  color: #2e2e2e;
}
.process-textSolution {
  white-space: pre-line;
  color: #fff;
  font-size: 0.875rem;
}
.moreProjectsContainer{
  padding-bottom: 4rem;
}
.projectImages {
  display: flex;
}

.projectImage img {
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 480px) {
  .projectDetailsContainer{
    flex-direction: column;
  }
  .headerImage img{
    margin-bottom: 2rem;
  }
  .pageHeadingPurple{
    font-size: 3rem;;
  }
  .projectHeaderInner{
    padding: 0 1rem;
  }
  .projectImages {
    flex-direction: column;
  }
  .process-container {
    flex-direction: column;
  }
  .projectDetails{
    flex-direction: column;
  }
}
