
.main-container{
    height:100vh;
}
.heading{
    z-index: -1;
    position: absolute;
    width:100%;
    top:4rem;
    left:0;
    text-align: center;
    animation: moveImage 5s infinite;
    font-weight: 600;}

.heading h2{
    width: 100%;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 3rem;
    margin: 0 auto;
}

.image-container{
    z-index: 1;
    width:100%;
    height:inherit;

    background:url(../Images/under-construction.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
@media only screen and (max-width: 900px) {
    .heading h2{
        font-size: 2rem;
        letter-spacing: 1rem;
    }
}
@media only screen and (max-width: 600px) {

    .heading h2{
        font-size: 1.5rem;
        letter-spacing: 0.5rem;
    }

    .heading{
        top:6rem;
    }

    .image-container{
        background-size:650px;
    }
    svg{
        width:24px;
        height:24px;
    }
    .studioName{
       font-size: 0.875rem;
    }
    .myName{
        font-size: 0.8rem !important;
    }
  }


@keyframes moveImage {
    0%    { transform: translateY(0) }
    50%   { transform: translateY(1rem) }
    100%  { transform: translateY(0)}
  }

.socials-container{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.socials-container p{
    margin: 0;
    padding: 0;
}
.myName{
    font-size: 0.920rem;
    font-weight: 600;
}
.social-icons{
    display: flex;
    gap: 1.1rem;
}

.textTag{
    text-decoration: none;
    color:#2e2e2e;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-size: 0.875rem;
    font-weight: 400;
}

