.footer {
  width: 100%;
  background-color: #2e2e2e;
}

.footer-container {
  padding: 4rem 2rem 2rem 2rem ;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  gap: 2rem;
  display: flex;
}
.footerEmail, .footerSocials {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.socialIcons{
  display: flex;
  gap:0.5rem;
}
.footer-list {
  color: #4f4f4f;
}
.footer-list h4 {
  font-weight: 500;
}

.footer-madeby {
  font-size: 0.75rem;
  padding-bottom: 4rem;
  text-align: center;
  color: #4f4f4f;
}

@media only screen and (max-width: 650px) {
  .footer-container {
    grid-template-columns: none;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
  }
}
