.workitems {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.workitem-container {
  text-decoration: none;
  padding: 1.5rem;
  background-color: #fff;
  filter: drop-shadow(0rem 0rem 1.5rem rgb(27 0 49 / 0.25));
  border-radius: 0.5rem;
  transition: transform 0.2s;
}

.project-image {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.workitem-content {
  bottom: 0.5rem;
  padding: 1rem 0rem;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: #fff;
  transform: translateY(0.5rem);
  transition: opacity 0.2s, transform 0.5s;
}
.workitem-container h3 {
  color: #5d4fff;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.workitem-container h4{
  color: #2e2e2e;
  margin-bottom: 0.5rem;
}

Link{
  text-decoration: none;
}
.workitem-content p {
  color: #2e2e2e;
  font-weight: 300;
  padding-bottom: 1rem;
}
.workitem-container:hover > .workitem-content {
  opacity: 1;
  cursor: pointer;
}

.workitem-container:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .workitems {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
}
